{% extends "_base.html" %}
{% block content %}

  {% macro fb_icon() %}
    <img src="https://cdnjs.cloudflare.com/ajax/libs/webicons/2.0.0/webicons/webicon-facebook.png" alt="FB" style="height: 1.2em; margin-bottom: 4px">&nbsp;
  {% endmacro %}

  {% macro meetup_icon() %}
    <img src="/static/icons/meetup_com.png" alt="Meetup.com" style="height: 1.3rem; margin-bottom: 2px; margin-left: -2px">
  {% endmacro %}

  {% macro github_icon() %}
    <img src="/static/icons/github.png" alt="Github" style="height: 1.1rem; margin-bottom: 2px">
  {% endmacro %}

  {% macro python_icon() %}
    <img src="https://python.cz/static/images/logo-plain.png" alt="" style="height: 1.1rem; margin-bottom: 2px">
  {% endmacro %}

  <h1 class="site-title" style='text-align: center; margin-top: 80px'>
    <span style="color: #3776ab">Py</span><span style="color: #eb0">Working</span>
  </h1>

  <h2 class='site-lead-text' style='max-width: 600px; text-align: center; margin: 24px auto; line-height: 1.6;'>
    Pyworkingy jsou setkání Pythonistů začátečníků, kteří se chtějí učit nové věci nebo se zdokonalovat v&nbsp;základech.
    Pořádáme tématické celodenní <b>Workshopy</b> s&nbsp;připravenou výukou, ale také večerní <b>Sessions</b> pro samostudium za dozoru koučů.
  </h2>

  <div class='row'>

    <div class='col-md-6'>

      {# left column #}

      <h2 class='ws-title'>Workshops</h2>

      <p>
        <strong>PyWorking workshopy</strong> jsou zhruba jednou měsíčně pořádané celodenní workshopy pro pokročilé začátečníky
        v&nbsp;programovacím jazyce <a href="https://python.cz/">Python</a> a příbuzných technologiích.
        Každý workshop je na nějaké téma z&nbsp;praxe, dopoledne je přednáška a odpoledne samostatná práce pod vedením zkušených koučů.
      </p>

      {% include 'mailchimp_subscribe.html' %}

      {% macro show_event(event) %}
        <p>
          <span class='event-title'>
            <a href='/workshops/{{ event.slug }}'>{{ event.title }}</a>
          </span>
          <span class='event-date'>
            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
            {{ format_date_cs(event.date)|capitalize }}
          </span>
          <span class='event-location'>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            {{ event.city }}
          </span>
        </p>
      {% endmacro %}

      {% if upcoming_workshop_events %}

        <h3 class='event-list-title'>
          {% if upcoming_workshop_events|length == 1 %}
            Příští workshop
          {% else %}
            Příští workshopy
          {% endif %}
        </h3>

        {% for event in upcoming_workshop_events %}
          {{ show_event(event) }}
        {% endfor %}

      {% endif %}

      <h3 class='event-list-title'>Proběhlé workshopy</h3>

      {% for event in past_workshop_events[:4] %}
        {{ show_event(event) }}
      {% endfor %}

      <button
        data-toggle="collapse"
        data-target="#remainingWorkshopEvents"
        aria-expanded="true"
        aria-controls="remainingWorkshopEvents"
        class="btn btn-show-more-events">Zobrazit všechny předchozí</button>

      <div class="collapse" id='remainingWorkshopEvents'>
        {% for event in past_workshop_events[4:] %}
          {{ show_event(event) }}
        {% endfor %}
      </div>

      <h2>Odkazy &ndash; workshopy</h2>

      <div class="links">
        <p><a href="https://www.facebook.com/groups/PyWorkingPraha/">{{ fb_icon() }} PyWorking Praha</a></p>
        <p><a href="https://github.com/pyvec/pyworking-materials">{{ github_icon() }} pyworking-materials</a></p>
        <p><a href="https://python.cz/">{{ python_icon() }} Python.cz</a></p>
        <p><a href="/workshops.ics">iCal export</a></p>
      </div>

      <h2>Kontakt &ndash; workshopy</h2>

      <p>Organizátoři Praha:</p>

      <ul>
        <li>Radka Planková</li>
        <li>Eliška Doktorová</li>
      </ul>

      <p>Organizátoři Brno:</p>

      <ul>
        <li>Anežka Müller</li>
      </ul>

      <p>Pište na <a href="mailto:info@pyworking.cz">info@pyworking.cz</a></p>

    </div>

    <div class='col-md-6'>

      {# right column #}

      <h2 class='ws-title'>Sessions</h2>

      <p>
        <strong>PyWorking sessions</strong> jsou jednou za dva týdny &ndash; každé druhé pondělí &ndash;
        pořádaná setkání začátečníků a pokročilých začátečníků.
        Můžete na nich:
      </p>
      <ul class='relaxed'>
        <li>
          konzultovat domácí úkoly z&nbsp;kurzu
          <a href='http://naucse.python.cz/'>naučse.python.cz</a>,
          <a href='http://www.pyladies.cz/'>Pyladies</a>
          nebo jakéhokoli jiného kurzu o Pythonu a příbuzných tématech
        </li>
        <li>
          pracovat na open-source anebo komunitních projektech
        </li>
      </ul>

      <h3 class='event-list-title'>Příští setkání</h3>

      {% macro meetup(url, title, date, city) %}
        <p>
          <span class='event-title'>
            <a href='{{ url }}' target="_blank">{{ title }}</a>
          </span>
          <span class='event-date'>
            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
            {{ date }}
          </span>
          <span class='event-location'>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            {{ city }}
          </span>
        </p>
      {% endmacro %}

      {% for event in upcoming_session_events %}
        {{ meetup(event.url, event.title, format_date_cs(event.date), event.city_cs) }}
      {% endfor %}

      <h3 class='event-list-title'>Místo setkání</h3>

      <!-- Akamai logo -->
      <div style='float: right; margin-top: -20px; margin-right: -8px'>
        <img src='/static/akamai-logo.png' alt='Akamai' style='height: 60px'>
      </div>

      <p>
        Kanceláře Akamai<br>
        Karla Engliše 4, Praha 5
        &nbsp; <a href="https://goo.gl/maps/KvRFT26bY4v" target="_blank">→ Google mapy</a><br>
        5. patro<br>
      </p>

      <p>Zpravidla od 18.00 do 20.00.</p>

      <h2>Odkazy &ndash; sessions</h2>

      <div class="links">
        <p><a href="https://www.facebook.com/groups/PyWorkingPraha/">{{ fb_icon() }} PyWorking Praha</a></p>
        <p><a href="https://www.meetup.com/pyladiescz/">{{ meetup_icon() }} PyWorking Sessions - Praha</a></p>
        <p><a href="https://python.cz/">{{ python_icon() }} Python.cz</a></p>
      </div>

      <h2>Kontakt &ndash; sessions</h2>

      <p>Organizátoři Praha:</p>

      <ul>
        <li>Iva Fingerová</li>
        <li>Petr Messner</li>
      </ul>

      <p>Pište na <a href="mailto:info@pyworking.cz">info@pyworking.cz</a></p>

    </div>

  </div>

{% endblock %}
