body {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    color: #222;
    margin: 2rem 0;
}

.site-title {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-family: 'Cabin Sketch', cursive;
    font-weight: 700;
    font-size: 49px;
    color: #444;
}

strong {
    font-weight: 600;
}

p {
    max-width: 42em;
}

p, ul {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

li {
}

h2 {
    font-size: 24px;
    font-weight: 300;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h2.event-list-section-title {
    color: #069;
}

h3 {
    font-size: 21px;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h4 {
    font-size: 21px;
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h3.event-title {
    color: #068;
    margin-bottom: 10px;
}
.event-info {
    color: #404040;
    margin: 12px 0;
    font-weight: 300;
}

.event-description {
    font-size: 14px;
}
.event-description p {
}
.event-description strong {
    font-weight: 500;
}
.event-description :first-child {
    margin-top: 0;
}
